.infocard{
  margin-bottom: 42px;
}
.infocard__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.infocard__item::before {

    width: 60px;
    height: 60px;
    border:none;
background-color: #68b738;
}
