.promo-block {
display: block;
width: 320px;
margin:0 auto;
margin-bottom: 22px;
background-image: url("../img/index-background-mobile@1x.jpg");
background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 768px;
    min-height: 806px;
    padding: 0;
    margin: 0 auto;
    background-image: none;
  }
    @media (min-width: @desktop-width){
      min-height: auto;
        display: block;
        width: 1440px;
        padding-bottom: 203px;
    }

&__title {
margin-top: 0;
margin-left: auto;
margin-right: auto;
margin-bottom: 19px;
padding-top: 29px;
font-family: Oswald;
font-size: 36px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1;
letter-spacing: normal;
text-align: center;
color: @white;

@media (min-width: @tablet-width) {
  font-size: 60px;
  text-align: left;
  padding-left: 120px;
  padding-top: 61px;
  margin-bottom: 33px;
  color: @black;
    }
  }
  &__intro{
  display: block;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 29px;
  font-family: Oswald;
  font-size: 14px;
  font-style: regular;
  text-transform: uppercase;
  text-align: center;
  color: @white;

  @media (min-width: @tablet-width) {
      font-size: 20px;
      color:@black;
      text-align: left;
      padding-left: 120px;
      margin-bottom: 48px;
    }
  }
&__can {
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
      content: '';
      position: absolute;

      top:258px;
      left: 29px;

      width: 709px;
      height: 609px;
      background-image: url("../img/index-can-tablet@1x.jpg");

      &-img {
       display: none;
     }
   }
   @media (min-width: @desktop-width){
     top:29px;
     left: 560px;

     width: 552px;
     height: 499px;
     background-image: url("../img/index-can-desktop@1x.png");
   }
 }
&__choose{
width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    display: block;

    position: relative;
    text-align: left;
    margin: 0;
    padding-left: 120px;
  }
}
&__link{
  padding: 14px 74px 11px 71px;
  font-family: Oswald;
  font-size: 14px;
  font-style: regular;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background-color:#68b738;

  @media (min-width: @tablet-width) {
      padding: 17px 29px 15px 26px;
      font-size: 20px;
      }
}
}
