.comment {
  &__title{
  padding: 0;
  margin: 0 0 31px 0;

  @media (min-width: @tablet-width){
margin-bottom: 71px;
  }
  }
  &__item{

    opacity: 0.5;
    border: solid 1px #cdcdcd;
    margin: 0 0 31px 0;
    padding: 15px 15px 118px 16px;

    @media (min-width: @tablet-width){
      margin-bottom: 69px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 71px;
      }
  }
  &__feedback{


  & input {
    padding:0;
    margin: 0;
    font-family: Oswald;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  text-transform: uppercase;
  }
  }
}
